// SERVICES

.services-content-section {
  display: flex;
  flex-wrap: wrap;


  .services-content-section-img {
    align-self: center;
    flex: 1 0 100%;

    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
    }
  }

  .services-content-section-block {
    padding: 1rem;
    flex: 1 0 100%;
    align-self: stretch;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
      padding: 2rem;
    }
  }
}



// EMAIL SIGNUP

$subscription-form-color: $light-gray;
$subscription-form-padding: rem-calc(32);


.simple-subscription-form {
  background: $dark-gray;
  color: $subscription-form-color;
  padding: $subscription-form-padding;
  border-radius: $global-radius;
}

.subscribe {
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 45em) {
    max-width: 65%;
  }

  @media screen and (min-width: 60em) {
    max-width: 45%;
  }
}

.input-group {
  height: 2.5rem;
  font-size: 1em;
}

// PORTFOLIO
#portfolio-container {
  background-color: $light-gray;
}

.portfolio {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-bottom: 2rem;
}

.portfolio div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
.portfolio div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}

// TESTIMONIALS

.testimonial-container {
  background: $success-color;
  padding: 1rem 1rem;
}

  .testimonial-slider-container {
    width: 100%;
    background-color: $white;
    padding: 1rem 1rem;
  }

  .orbit-previous,
  .orbit-next {
    color: $primary-color;

    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }

  .orbit-previous {
    left: -1rem;
  }

  .orbit-next {
    right: -1rem;
  }

  .testimonial-slide {
    display: flex;
    justify-content: center;
  }

  .testimonial-slide-content {
    padding: 1rem 1.5rem;

    @media screen and (min-width: 40em) {
      padding: 1rem 4rem;
    }

    @media screen and (max-width: 40em) {
      height: 300px;
    }
  }

  .profile-pic {
    max-width: 225px;
  }

  .testimonial-slide-text {
    padding-left: 3rem;
  }

  .testimonial-slide-quotation {
    font-size: 1.2rem;
    position: relative;

    &::before {
      content: "“";
      font-size: 6rem;
      color: lighten($black, 40%);
      position: absolute;
      top: -3rem;
      left: -3rem;
    }
  }

  .testimonial-slide-author-container {
    display: flex;

    @include breakpoint(small only) {
      .testimonial-slide-author-info {
        margin-left: 1rem;
      }
    }
  }



// BLOG

.blog-body {
  margin-top: 3rem;
}
.card:first-of-type {
    margin-top: 2rem;
}
.card {
  margin-bottom: 2rem;
  border: .666rem solid $light-gray;
  box-shadow: 1px 1px 1px $medium-gray;
}

.featured-image {
  width: 100%;
  height: auto;
}

.blog-divider-single {
  border: 20px solid $primary-color;
  margin: 2em 0 2em 0;
}

.featured-image {
  @media screen and (min-width: 59em) {
    max-height: 315px;
  }
}

.comment-form {
  padding: $global-padding;
}

.widget_recent_entries {
  background-color: $light-gray;
  padding: $global-padding;
}

.comment-reply-title {
  margin-top: 2rem;
}

.pagination {
  text-align: center;
}

.view-full-post {
  float: right;
}

// SIDEBAR

#sidebar1 {
  margin-bottom: 2rem;
}
// ORDER

.order-product-image {
  width: 100%;
  height: auto;
}

.garment-tabs {
  padding: $global-padding;
}

.garment-accordion-title {
  padding: 0;
  margin: 0;
}
.order-intro {
  padding: $global-padding-double;
  font-weight: bold;
  color: $dark-gray;
  margin-bottom: 0;
}

.garment-brand {
  padding: .5rem;
  margin: 0;
  background-color: $primary-color;
}

.garment-id {
  background-color: $dark-gray;
  color: $light-gray;
  padding: .5rem;
  margin: 0;
}

.garment-description {
  color: $dark-gray;
  margin-top: 1rem;
}
.contact-method {
  font-weight: bold;
}
.colors {
  background-color: $white;
}

.color-swatch {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}

#order-form {
  padding: $global-padding-double;
}

.customer-info {
  background-color: $light-gray;
  padding: $global-padding;
  border: 1px solid $primary-color;
  margin-bottom: 1rem;
}


.order-info {
  background-color: $light-gray;
  padding: $global-padding;
  border: 1px solid $primary-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkbox {
  display: block;

  @include breakpoint(medium) {
    display: inline-block;

  }
}
legend.finishing-options {
  background-color: $light-gray;
}

.card {
  width: 100%;
}
