.footer {
  text-align: center;
  color: $white;
  background-color: $success-color;
  margin-top: 0;
  padding: $global-padding;

  @media screen and (min-width: 45em){
    padding: $global-padding-double;
  }
}

$contact-us-section-padding: 2rem;
$contact-us-section-bg: $light-gray;

.contact-us-section {
  padding: $contact-us-section-padding;
  background: $contact-us-section-bg;

  .contact-us-section-left {

    border-bottom: 2px solid $medium-gray;
    padding-bottom: $contact-us-section-padding;
    margin-bottom: $contact-us-section-padding;

    @include breakpoint(medium) {
      margin-right: 1rem;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .contact-us-section-right {

    @include breakpoint(medium) {
      margin-left: 1rem;
    }
  }

  .contact-us-header {
    margin-bottom: $contact-us-section-padding;

    @media screen and #{breakpoint(medium)} and #{breakpoint(large down)} {
      font-size: 32px;
    }
  }

  .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
  }
}

.contact-us-form {
  input[type=text],
  input[type=email],
  textarea {
    margin-bottom: 1.5rem;
  }
}

.contact-us-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type=submit] {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-us-file-button {
    background: transparent;
    color: $dark-gray;
  }
}

.contact-us-list {
  list-style-type: none;
  margin: 0;

  li {
    a {
      color: $black;
    }
  }

  li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: $dark-gray;
    font-family: 'FontAwesome';
  }

  // generates icons - change fontawesome content codes below to change icons
  .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
  }

  .email::before {
    content: '\f003';
  }

  .phone::before {
    content: '\f098';
  }
}

#map {
  width: 15em;
  padding: 1em;
  height: 15em;
  margin: 0 auto 1rem auto;
  border: 4px solid $blog-border-color;

  @media screen and (min-width: 24em) {
    width: 100%;
    height: 21em;
  }


}

.footer-copyright {
  font-size: .8em;

  @media screen and (min-width: 40em){
    font-size: 1em;
  }
}
