.footer {
  text-align: center;
  color: $white;
  background-color: $secondary-color;
  margin-top: 0;
  padding: $global-padding;

  @media screen and (min-width: 45em){
    padding: $global-padding-double;
  }
}

$contact-us-section-padding: 2rem;
$contact-us-section-bg: $light-gray;

.contact-us-section {
  padding-bottom: $global-padding;
  background: $contact-us-section-bg;


  @media screen and (max-width: 320px) {
    li {
      font-size: .8em;

    }
  }

  .contact-us-section-left {

    border-bottom: 2px solid $medium-gray;
    padding-bottom: $contact-us-section-padding;
    margin-bottom: $contact-us-section-padding;

    @include breakpoint(medium) {
      margin-right: 1rem;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .contact-us-section-right {

    @include breakpoint(medium) {
      margin-left: 1rem;
    }
  }



  .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
  }
}

.contact-us-form {
  input[type=text],
  input[type=email],
  textarea {
    margin-bottom: 1.5rem;
  }
}

.contact-us-form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type=submit] {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-us-file-button {
    background: transparent;
    color: $dark-gray;
  }
}

.contact-us-list {
  list-style-type: none;
  margin: 0;

  li {
    a {

      color: $black;
    }
  }
}


#map {
  width: 15em;
  padding: 1em;
  height: 15em;
  margin: 0 auto 1rem auto;
  border: 4px solid $blog-border-color;

  @media screen and (min-width: 24em) {
    width: 100%;
    height: 21em;
  }
}

.instagram-feed {
  padding: $global-padding;
  margin-bottom: 2rem;
}

.footer-copyright {
  font-size: .8em;

  @media screen and (min-width: 40em){
    font-size: 1em;
  }
}

$contact-section-three-up-width: 900px;

.contact-section-three-up {
  text-align: center;
  padding: 2rem 0;

  .row {
    max-width: $contact-section-three-up-width;
  }

  .columns {
    margin-bottom: 1rem;

    @include breakpoint(large) {
      padding: $global-padding-double;
      margin-bottom: 0;
      border-right: 2px dashed $medium-gray;
      &:last-child{
        border: 0;
    }
    }
  }


  .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }
}

.contact-section-three-up-headline {
  margin-bottom: 2rem;
}

.contact-section-three-up-title {
  padding: 0;
  color: $medium-gray;
}

.contact-list {
  margin: 0;
}
.contact-info {
  list-style: none;
  width: 75%;
  margin: 0 auto;
  font-size: 1.1rem;


  @include breakpoint(medium) {
    width: 50%;
    font-size: 1.1rem;
  }

  @include breakpoint(large) {
    width: 100%;
    border: none;

  }
}

.contact-info-2nd {
  list-style: none;
  padding-bottom: 2rem;
  border-bottom: 2px dashed $medium-gray;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    padding-bottom: $global-padding-double;
  }

  @include breakpoint(large) {
    border: none;

  }
}

.contact-info-detail {
  list-style: none;
  padding-bottom: 2rem;
  font-style: italic;
  color: $primary-color;
  border-bottom: 2px dashed $medium-gray;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    padding-bottom: $global-padding-double;
  }

  @include breakpoint(large) {
    border: none;

  }
}

.login-link {
  color: $medium-gray;
    &:hover {
      color: $light-gray;
    }
}
