$highlight-color: $primary-color;
$nav-padding: 1rem;
$nav-text-color: $dark-gray;
$nav-bg-color: $white;

// NAV STYLES

.responsive-nav-social-mobile {
  background: $nav-bg-color;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: visible;

  .responsive-nav-social-mobile-left {
    flex: 1 0 0;

    li {
      font-size: 1.5rem;

      .fa {
        color: $nav-text-color;
        margin-right: -0.7rem;
      }
    }
  }

  .responsive-nav-social-mobile-right {
    .menu-icon {
      margin: $nav-padding;

      &::after {
        padding-right: 1.5rem;
        background: $highlight-color;
        box-shadow: 0 7px 0 $highlight-color, 0 14px 0 $highlight-color;
      }
    }
  }
}

.responsive-nav-social {
  padding: $nav-padding;
  background-color: $nav-bg-color;
  z-index: 9999;

   &.is-stuck {
    width: 100%;
    box-shadow: 0px 4px 10px -2px rgba(128,128,128,0.68);
   }

   a {
     color: $nav-text-color;
     font-size: 1em;
     text-transform: uppercase;

     &:hover {
       color: $highlight-color;
     }
  }

  @media screen and (max-width: 39.9375em) {
    .menu li a {
       font-size: 1.3rem;
       padding: 1.3rem;
       color: $highlight-color;
     }

     li {
        border-bottom: 3px solid $highlight-color;

        &:last-of-type {
          border: 0;
       }
     }

     .responsive-nav-social-left {
       width: 100%;

       .menu.vertical a {
        justify-content: center;
       }
     }
   }

  @media screen and (max-width: 320px) {
    .menu li a {
       font-size: 1rem;
       padding: 1rem;
       color: $highlight-color;
     }

  }

  .responsive-nav-social-right {
    a {
      padding-right: 0.1rem;
    }
  }

  i.fa {
    font-size: 1.3rem;
    color: $nav-text-color;

       &:hover {
       color: $highlight-color;
       transition: color 0.2s ease-in;
     }
  }
}

.sticky-container {
  width: 100%;
}

// HERO HEADER STYLES

.hero {
	background: url('<?php header_image(); ?>');
	height: 75vh;
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	@media screen and (min-width: $query__medium) {
		height: 90vh;
	}
}

.inner-hero {
	padding: 1em;
	height: 80%;
	width: 90%;
	background-color: rgba(107,107,107,.666);
  box-shadow: 0px 0px 3px $medium-gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: $query__medium) {
		height: 45%;
		width: 65%;
	}
}

.hero-smaller {
  background: url('<?php header_image(); ?>');
  height: 55vh;
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $query__medium) {
    height: 30vh
  }
}

.inner-hero-smaller {
	padding: 1em;
	height: 85%;
	width: 90%;
	background-color: rgba(107,107,107,.666);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: $query__medium) {
		height: 85%;
		width: 65%;
	}
}
