// GENERAL

$font__serif: 'Bitter', serif;
$font__sans: 'Palanquin Dark', sans-serif;
$font__main: 'Bitter', serif;

body {
  font-family: $font__main;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font__sans;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: .8em;

    @include breakpoint(medium) {
      font-size: 1em;

    }
  }
}

.site-title {
  text-shadow: rgba(90, 90, 90,.666) 1px 2px 3px;
  font-size: 2em;

  @include breakpoint(medium) {
    font-size: 3em;
  }

   @include breakpoint(large) {
     font-size: 4em;

   }
}
.tagline {
  font-size: 1em;
  color: $light-gray;
  margin-bottom: 1em;
  text-shadow: rgba(90, 90, 90,.666) 1px 2px 2px;

  @media screen and (min-width: 40em){
    font-size: 1.5em;
  }

  @media screen and (min-width: 50em){
    font-size: 2em;
  }
}

.section-description-gray {
  margin: 1em auto 2em auto;
  text-align: center;
  font-size: 1rem;
  color: $dark-gray;
  padding: 2rem;
  border: 2px solid $primary-color;
  background-color: $light-gray;
  width: 80%;
}

.section-description-white {
  margin: 1em auto 2em auto;
  text-align: center;
  font-size: 1rem;
  color: $dark-gray;
  padding: 2rem;
  background-color: $white;
  width: 80%;
}

// SERVICES

.services {
  color: $secondary-color;
  padding: $global-padding-double;
}

.services-desc-header {
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: $white;
  padding: $global-padding;
}

.services-desc {
  margin-top: 2rem;
  color: $black;
  font-size: 1rem;
    @media screen and (min-width: 50em) {
      font-size: 1.5rem;
    }
}

.header-text-extra-space {
  margin-top: 0;
  padding: 1rem;
  color: $dark-gray;

  @include breakpoint(medium) {

  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;

  }
}

.header-text-extra-space-white {
  margin: .5rem;
  color: $light-gray;
}

// PORTFOLIO

.portfolio-header {
  margin-top: 0;
  margin-bottom: 2rem;
  color: $dark-gray;
}


// TESTIMONIALS

p.testimonial-slide-quotation {
  font-size: .9rem;
}
// SIDEBAR

#sidebar1 {

  li {
    text-align: center;
    text-transform: uppercase;

    a {
      &:hover {
        color: $anchor-color-hover;
      }
    }
  }
}

.widgettitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

//ORDER

.order-form {
  font-weight: 800;
}

.order-sections  {
  color: $secondary-color;
  padding: $global-padding-double;
  width: 100%;
}

.design-sections {
  color: $primary-color;
  width: 100%;
}

.design-sections-inner {
  text-align: left;
  color: dimgray;
}

// BLOG

.single-title {
  color: $dark-gray;
}

.entry-content-single {
  padding: .3em;

  @include breakpoint(medium) {

    padding: 1em;

  }
}
.entry-content-single > p {
  color: $black;
}

.entry-content-single > h1, h2, h3, h4, h5, h6 {
  padding: $global-padding-double;
}

.entry-content {
  padding: $global-padding;
  margin: 2.5rem 0 2.5rem 0;
}

.byline {
  font-size: .8em;

  @media screen and (min-width: 40em){
    font-size: 1em;
  }
}
.blog-header {
  padding: $global-padding-double;
}

.entry-title {
  text-transform: uppercase;
  padding: $global-padding;
}

.comments-title span {
  text-transform: uppercase;
}

.single-title {
  margin-top: 2em;
}

.blog-entry-header {
  width: 100%;
  text-align: center;
  background-color: $white;
  color: $medium-gray;
  padding: $global-padding;
  border-bottom: 3px dotted $medium-gray;

  a {
    color: $medium-gray;
  }
}

.blog-post {
  font-size: 1em;
}

.entry-content-single {
  font-size: 1.2em;
  padding: $global-padding-double;
  color: $primary-color;

  li {
    color: $dark-gray;
    font-size: .9em;

    @include breakpoint(medium) {
      font-size: 1.2em;

    }
  }
}

.comments-title {
  color: $dark-gray;
}

.media-object-section p {
  color: $medium-gray;
}

.archive-title {
  color: $medium-gray;
}

.blog-title {
  color: $medium-gray;
  margin-top: 2em;
  margin-bottom: 2em;
}

li.comment {
  border-bottom: 3px dashed $primary-color;
  margin-bottom: 2rem;
}

.commentlist {
  margin: $global-margin;
}

p.comment-notes {
  color: $medium-gray;
  font-style: italic;
}

blockquote {
font-style: italic;
background-color: $light-gray;
font-size: 1.2em;
margin-top: 2rem;
margin-bottom: 1rem;
padding: .5rem 1rem;
border-left: .25rem solid $secondary-color;
display: block;
}
